/* contact session */

.conatactContainer {
    /* background-color: lightseagreen; */
   background-size: cover;
    background-image: url("https://scx2.b-cdn.net/gfx/news/2019/2-nature.jpg");
    height:100%;
}





.headingContactsession {
    text-align: center;
    margin: 0px;
    font-size: 70px;
    font-weight: 700;
    font-family: 'EB Garamond', serif;
}

/* .parentdivContactsession{
  margin: auto;  
} */
/* .conatactContainer{
    padding: 250px;
} */
.parentdivContactsession {
    width: 100%;
    display: flex;
    padding: 2% 2%;

    /* text-align: center; */
}

.conatactContainer {
    width: 100%;
    padding: 10px;
}

.formTagDiv {
    width: 50%;
    background-color: rgba(139, 240, 128, 0.1);
    margin: auto;

}

.formTag {
    padding: 5% 10%;
}

.formTag div {
    width: 100%;
    /* background-color: blue; */
}

.googleMap {
    width: 50%;
}

.iframeGooglemap {
    width: 80%;
    height: 100%;
}

.formTag div {
    width: 100%;
}

.formTag div input,
.formTag div textarea {
    width: 75%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 4px;
    font-family: 'EB Garamond', serif;

}

.formTag textarea {
    width: 50%;
    margin-top: 10px;
}

.divButton {
    width: 100%;

}

.divButton button {
    width: 24%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    cursor: pointer;
    background-color: lightpink;
    font-size: 20px;
    font-weight: 600;
    font-family: 'EB Garamond', serif;

}

.detailsAdmin {
    width: 100%;
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-evenly;
}

.inputTagname {
    font-size: 25px;
    font-weight: 600;
    font-family: 'EB Garamond', serif;

}
.DetailsofWebsite{
    width:20%;
    background-color: rgb(54, 113, 113);
border-radius: 10%;
text-align: center;

}